<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.contactstation.oa.OaVoteMapper">
    
    <resultMap type="OaVote" id="OaVoteResult">
        <result property="voteId"    column="vote_id"    />
        <result property="title"    column="title"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="content"    column="content"    />
        <result property="coverUrl"    column="cover_url"    />
        <result property="status"    column="status"    />
        <result property="total"    column="total"    />
        <result property="voter"    column="voter"    />
        <result property="visit"    column="visit"    />
        <result property="isMany"    column="is_many"    />
        <result property="least"    column="least"    />
        <result property="biggest"    column="biggest"    />
    </resultMap>

    <sql id="selectOaVoteVo">
        select vote_id, title, remark, create_time, update_by, update_time, create_by, start_time, end_time, content, cover_url, status, total, voter, visit, is_many, least, biggest from oa_vote
    </sql>

    <select id="selectOaVoteList" parameterType="OaVote" resultMap="OaVoteResult">
        <include refid="selectOaVoteVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="startTime != null "> and start_time = #{startTime}</if>
            <if test="endTime != null "> and end_time = #{endTime}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="coverUrl != null  and coverUrl != ''"> and cover_url = #{coverUrl}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="total != null "> and total = #{total}</if>
            <if test="voter != null "> and voter = #{voter}</if>
            <if test="visit != null "> and visit = #{visit}</if>
            <if test="isMany != null "> and is_many = #{isMany}</if>
            <if test="least != null "> and least = #{least}</if>
            <if test="biggest != null "> and biggest = #{biggest}</if>
        </where>
    </select>
    
    <select id="selectOaVoteByVoteId" parameterType="Long" resultMap="OaVoteResult">
        <include refid="selectOaVoteVo"/>
        where vote_id = #{voteId}
    </select>
        
    <insert id="insertOaVote" parameterType="OaVote">
        insert into oa_vote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="voteId != null">vote_id,</if>
            <if test="title != null">title,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="content != null">content,</if>
            <if test="coverUrl != null">cover_url,</if>
            <if test="status != null">status,</if>
            <if test="total != null">total,</if>
            <if test="voter != null">voter,</if>
            <if test="visit != null">visit,</if>
            <if test="isMany != null">is_many,</if>
            <if test="least != null">least,</if>
            <if test="biggest != null">biggest,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="voteId != null">#{voteId},</if>
            <if test="title != null">#{title},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="content != null">#{content},</if>
            <if test="coverUrl != null">#{coverUrl},</if>
            <if test="status != null">#{status},</if>
            <if test="total != null">#{total},</if>
            <if test="voter != null">#{voter},</if>
            <if test="visit != null">#{visit},</if>
            <if test="isMany != null">#{isMany},</if>
            <if test="least != null">#{least},</if>
            <if test="biggest != null">#{biggest},</if>
         </trim>
    </insert>

    <update id="updateOaVote" parameterType="OaVote">
        update oa_vote
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="content != null">content = #{content},</if>
            <if test="coverUrl != null">cover_url = #{coverUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="total != null">total = #{total},</if>
            <if test="voter != null">voter = #{voter},</if>
            <if test="visit != null">visit = #{visit},</if>
            <if test="isMany != null">is_many = #{isMany},</if>
            <if test="least != null">least = #{least},</if>
            <if test="biggest != null">biggest = #{biggest},</if>
        </trim>
        where vote_id = #{voteId}
    </update>

    <delete id="deleteOaVoteByVoteId" parameterType="Long">
        delete from oa_vote where vote_id = #{voteId}
    </delete>

    <delete id="deleteOaVoteByVoteIds" parameterType="String">
        delete from oa_vote where vote_id in 
        <foreach item="voteId" collection="array" open="(" separator="," close=")">
            #{voteId}
        </foreach>
    </delete>
    <!--投票 列表
    <select id="">
        select vote_id, title, remark, create_time, update_by, update_time, create_by, start_time, end_time, content, cover_url, status, total, voter, visit, is_many, least, biggest
        from oa_vote
    </select>-->
    <!--=========================================================分割线-->
    <select id="detailAdmin" parameterType="Long" resultMap="OaVoteResult">
        select vote_id, title, remark, create_time, update_by, update_time, create_by, start_time, end_time, content, cover_url, status, total,
               (SELECT COUNT(p.vote_id) FROM oa_vote_player p WHERE p.vote_id = o.vote_id)AS voter,
               visit, is_many, least, biggest from oa_vote o
        where vote_id = #{voteId}
    </select>

    <select id="selectCount" resultType="com.shahenpc.system.domain.oa.dto.VoteCount">
        SELECT COUNT(o.vote_id) AS `all`,
        (SELECT COUNT(b.vote_id) FROM oa_vote b WHERE b.start_time <![CDATA[>]]> NOW() AND b.`status` = 0) AS `notstart`,
        (SELECT COUNT(c.vote_id) FROM oa_vote c WHERE c.start_time <![CDATA[<=]]> NOW() AND c.end_time >= NOW() AND c.`status` = 1) AS `starting`,
        (SELECT COUNT(d.vote_id) FROM oa_vote d WHERE d.end_time <![CDATA[<]]> NOW() AND d.`status` = 2) AS `complete`
        FROM oa_vote o
    </select>

</mapper>