<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.message.MessageReadDelMapper">
    
    <resultMap type="MessageReadDel" id="MessageReadDelResult">
        <result property="id"    column="id"    />
        <result property="messageId"    column="message_id"    />
        <result property="userId"    column="user_id"    />
        <result property="isRead"    column="is_read"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="readTime"    column="read_time"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectMessageReadDelVo">
        select id, message_id, user_id, is_read, is_delete, read_time, remark, create_time, update_by, update_time, create_by from message_read_del
    </sql>

    <select id="selectMessageReadDelList" parameterType="MessageReadDel" resultMap="MessageReadDelResult">
        <include refid="selectMessageReadDelVo"/>
        <where>  
            <if test="messageId != null "> and message_id = #{messageId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
            <if test="readTime != null "> and read_time = #{readTime}</if>
        </where>
    </select>
    
    <select id="selectMessageReadDelById" parameterType="Long" resultMap="MessageReadDelResult">
        <include refid="selectMessageReadDelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMessageReadDel" parameterType="MessageReadDel" useGeneratedKeys="true" keyProperty="id">
        insert into message_read_del
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="messageId != null">message_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="isRead != null">is_read,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="readTime != null">read_time,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="messageId != null">#{messageId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="readTime != null">#{readTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateMessageReadDel" parameterType="MessageReadDel">
        update message_read_del
        <trim prefix="SET" suffixOverrides=",">
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="readTime != null">read_time = #{readTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMessageReadDelById" parameterType="Long">
        delete from message_read_del where id = #{id}
    </delete>

    <delete id="deleteMessageReadDelByIds" parameterType="String">
        delete from message_read_del where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>