<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.personel.PersonnelAppointEvaluteResMapper">
    <resultMap type="SysUser" id="SysUserResult">
        <id property="userId" column="user_id"/>
        <result property="userName" column="user_name"/>
        <result property="nickName" column="nick_name"/>
        <result property="phonenumber" column="phonenumber"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="idCard" column="id_card"/>
        <result property="identity" column="identity"/>
        <result property="openId" column="open_id"/>
        <result property="bornDate" column="born_date"/>
        <result property="nativePlace" column="native_place"/>
        <result property="bornPlace" column="born_place"/>
        <result property="nation" column="nation"/>
        <result property="partyDate" column="party_date"/>
        <result property="jobDate" column="job_date"/>
        <result property="healthState" column="health_state"/>
        <result property="duty" column="duty"/>
        <result property="expert" column="expert"/>
        <result property="resume" column="resume"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <resultMap type="PersonnelAppointRegister" id="PersonnelAppointRegisterResult">
        <result property="registerId" column="register_id"/>
        <result property="userId" column="user_id"/>
        <result property="appointType" column="appoint_type"/>
        <result property="oldDuty" column="old_duty"/>
        <result property="handleDuty" column="handle_duty"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="comePersonCnt" column="come_person_cnt"/>
        <result property="scrutineer" column="scrutineer"/>
        <result property="pollClerk" column="poll_clerk"/>
        <result property="voteTime" column="vote_time"/>
        <result property="fileList" column="file_list"/>
        <result property="regTime" column="reg_time"/>
        <association property="sysUser" column="user_id" javaType="SysUser" resultMap="SysUserResult"></association>
    </resultMap>
    <resultMap type="PersonnelAppointEvaluteRes" id="PersonnelAppointEvaluteResResult">
        <result property="resId"    column="res_id"    />
        <result property="userId"    column="user_id"    />
        <result property="subUserName"    column="sub_user_name"    />
        <result property="resCon"    column="res_con"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="registerId"    column="register_id"    />
        <result property="fileUrl"    column="file_url"    />
        <association property="sysUser" column="user_id" javaType="SysUser" resultMap="SysUserResult"></association>
        <association property="regEntity" column="reg_id" javaType="PersonnelAppointRegister" resultMap="PersonnelAppointRegisterResult"></association>
    </resultMap>

    <sql id="selectPersonnelAppointEvaluteResVo">
        select res_id, user_id, sub_user_name, res_con, create_by, create_time, update_by, update_time, del_flag, register_id, file_url from personnel_appoint_evalute_res
    </sql>

    <sql id="selectResVo">
        select b.res_id, b.user_id, b.sub_user_name, b.res_con, b.create_by, b.create_time,
               b.update_by, b.update_time, b.del_flag, b.register_id, b.file_url,
               u.nick_name,u.sex,u.phonenumber,u.id_card,
               r.reg_time,r.appoint_type
        from personnel_appoint_evalute_res b
                 LEFT JOIN sys_user u on b.user_id = u.user_id
                 LEFT JOIN personnel_appoint_register r on r.register_id = b.register_id
    </sql>

    <select id="selectPersonnelAppointEvaluteResList" parameterType="PersonnelAppointEvaluteRes" resultMap="PersonnelAppointEvaluteResResult">
        <include refid="selectResVo"/>
        <where>
            <if test="appointType != null  and appointType != ''">and r.appoint_type = #{appointType}</if>
            <if test="registerId != null ">and r.register_id = #{registerId}</if>
            <if test="nickName != null  and nickName != ''">and u.nick_name like concat('%', #{nickName}, '%')</if>
            <if test="phonenumber != null  and phonenumber != ''">and u.phonenumber like concat('%', #{phonenumber}, '%')</if>
            <if test="startTime != null ">and r.reg_time <![CDATA[ >= ]]> #{startTime}  </if>
            <if test="endTime != null ">and r.reg_time <![CDATA[ <= ]]> #{endTime}  </if>
            <if test="keyWords != null  and keyWords != ''"> and (u.nick_name like concat('%', #{keyWords}, '%') or
                r.old_duty like concat('%', #{keyWords}, '%') or r.handle_duty like concat('%', #{keyWords}, '%') or
                b.speak_title like concat('%', #{keyWords}, '%') or b.details like concat('%', #{keyWords}, '%') )</if>
        </where>
    </select>
    
    <select id="selectPersonnelAppointEvaluteResByResId" parameterType="Long" resultMap="PersonnelAppointEvaluteResResult">
        <include refid="selectPersonnelAppointEvaluteResVo"/>
        where res_id = #{resId}
    </select>
        
    <insert id="insertPersonnelAppointEvaluteRes" parameterType="PersonnelAppointEvaluteRes" useGeneratedKeys="true" keyProperty="resId">
        insert into personnel_appoint_evalute_res
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="subUserName != null">sub_user_name,</if>
            <if test="resCon != null">res_con,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="registerId != null">register_id,</if>
            <if test="fileUrl != null">file_url,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="subUserName != null">#{subUserName},</if>
            <if test="resCon != null">#{resCon},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="registerId != null">#{registerId},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
         </trim>
    </insert>

    <update id="updatePersonnelAppointEvaluteRes" parameterType="PersonnelAppointEvaluteRes">
        update personnel_appoint_evalute_res
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="subUserName != null">sub_user_name = #{subUserName},</if>
            <if test="resCon != null">res_con = #{resCon},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="registerId != null">register_id = #{registerId},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
        </trim>
        where res_id = #{resId}
    </update>

    <delete id="deletePersonnelAppointEvaluteResByResId" parameterType="Long">
        delete from personnel_appoint_evalute_res where res_id = #{resId}
    </delete>

    <delete id="deletePersonnelAppointEvaluteResByResIds" parameterType="String">
        delete from personnel_appoint_evalute_res where res_id in
        <foreach item="resId" collection="array" open="(" separator="," close=")">
            #{resId}
        </foreach>
    </delete>
</mapper>