<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.represent.RepresentMotionMapper">

    <resultMap type="RepresentMotion" id="RepresentMotionResult">
        <result property="motionId"    column="motion_id"    />
        <result property="motionType"    column="motion_type"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="suggestUserId"    column="suggest_user_id"    />
        <result property="suggestUserName"    column="suggest_user_name"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="sendUserName"    column="send_user_name"    />
        <result property="approvalUserId"    column="approval_user_id"    />
        <result property="procinsId"    column="procIns_id"    />
        <result property="deployId"    column="deploy_id"    />
        <result property="linkName"    column="link_name"    />
        <result property="linkStatus"    column="link_status"    />
        <result property="address"    column="address"    />
        <result property="rate"    column="rate"    />
        <result property="phone"    column="phone"    />
    </resultMap>

    <sql id="selectRepresentMotionVo">
        select motion_id, motion_type, title, content, suggest_user_id, suggest_user_name, status, remark, create_by, create_time, update_by, update_time, send_user_id, send_user_name, approval_user_id, procIns_id, deploy_id, link_name, link_status, address, rate, phone from represent_motion
    </sql>

    <select id="selectRepresentMotionList" parameterType="RepresentMotion" resultMap="RepresentMotionResult">
        <include refid="selectRepresentMotionVo"/>
        <where>
            <if test="motionType != null "> and motion_type = #{motionType}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="suggestUserId != null  and suggestUserId != ''"> and suggest_user_id = #{suggestUserId}</if>
            <if test="suggestUserName != null  and suggestUserName != ''"> and suggest_user_name like concat('%', #{suggestUserName}, '%')</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="sendUserName != null  and sendUserName != ''"> and send_user_name like concat('%', #{sendUserName}, '%')</if>
            <if test="approvalUserId != null "> and approval_user_id = #{approvalUserId}</if>
            <if test="procinsId != null  and procinsId != ''"> and procIns_id = #{procinsId}</if>
            <if test="deployId != null  and deployId != ''"> and deploy_id = #{deployId}</if>
            <if test="linkName != null  and linkName != ''"> and link_name like concat('%', #{linkName}, '%')</if>
            <if test="linkStatus != null  and linkStatus != ''"> and link_status = #{linkStatus}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>

    <select id="selectRepresentMotionByMotionId" parameterType="Long" resultMap="RepresentMotionResult">
        <include refid="selectRepresentMotionVo"/>
        where motion_id = #{motionId}
    </select>

    <insert id="insertRepresentMotion" parameterType="RepresentMotion" useGeneratedKeys="true" keyProperty="motionId">
        insert into represent_motion
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="motionType != null">motion_type,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="suggestUserId != null">suggest_user_id,</if>
            <if test="suggestUserName != null">suggest_user_name,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="sendUserName != null">send_user_name,</if>
            <if test="approvalUserId != null">approval_user_id,</if>
            <if test="procinsId != null">procIns_id,</if>
            <if test="deployId != null">deploy_id,</if>
            <if test="linkName != null">link_name,</if>
            <if test="linkStatus != null">link_status,</if>
            <if test="address != null">address,</if>
            <if test="rate != null">rate,</if>
            <if test="phone != null">phone,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="motionType != null">#{motionType},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="suggestUserId != null">#{suggestUserId},</if>
            <if test="suggestUserName != null">#{suggestUserName},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="sendUserName != null">#{sendUserName},</if>
            <if test="approvalUserId != null">#{approvalUserId},</if>
            <if test="procinsId != null">#{procinsId},</if>
            <if test="deployId != null">#{deployId},</if>
            <if test="linkName != null">#{linkName},</if>
            <if test="linkStatus != null">#{linkStatus},</if>
            <if test="address != null">#{address},</if>
            <if test="rate != null">#{rate},</if>
            <if test="phone != null">#{phone},</if>
        </trim>
    </insert>

    <update id="updateRepresentMotion" parameterType="RepresentMotion">
        update represent_motion
        <trim prefix="SET" suffixOverrides=",">
            <if test="motionType != null">motion_type = #{motionType},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="suggestUserId != null">suggest_user_id = #{suggestUserId},</if>
            <if test="suggestUserName != null">suggest_user_name = #{suggestUserName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="sendUserName != null">send_user_name = #{sendUserName},</if>
            <if test="approvalUserId != null">approval_user_id = #{approvalUserId},</if>
            <if test="procinsId != null">procIns_id = #{procinsId},</if>
            <if test="deployId != null">deploy_id = #{deployId},</if>
            <if test="linkName != null">link_name = #{linkName},</if>
            <if test="linkStatus != null">link_status = #{linkStatus},</if>
            <if test="address != null">address = #{address},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="phone != null">phone = #{phone},</if>
        </trim>
        where motion_id = #{motionId}
    </update>

    <delete id="deleteRepresentMotionByMotionId" parameterType="Long">
        delete from represent_motion where motion_id = #{motionId}
    </delete>

    <delete id="deleteRepresentMotionByMotionIds" parameterType="String">
        delete from represent_motion where motion_id in
        <foreach item="motionId" collection="array" open="(" separator="," close=")">
            #{motionId}
        </foreach>
    </delete>
    <!--==================================================分割线-->
    <select id="selectByWorkflowId" resultMap="RepresentMotionResult">
        <include refid="selectRepresentMotionVo"/>
        where procins_id = #{procinsId}
    </select>
</mapper>