<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.represent.RepresentDiscoverMapper">

    <resultMap type="RepresentDiscover" id="RepresentDiscoverResult">
        <result property="discoverId"    column="discover_id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="discoverType"    column="discover_type"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="address"    column="address"    />
        <result property="location"    column="location"    />
        <result property="reply"    column="reply"    />
        <result property="rate"    column="rate"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="receiveUserId"    column="receive_user_id"    />
        <result property="status"    column="status"    />
        <result property="processType"    column="process_type"    />
        <result property="picUrls"    column="pic_urls"    />
        <result property="stationId"    column="station_id"    />
    </resultMap>

    <sql id="selectRepresentDiscoverVo">
        select discover_id, title, content, discover_type, remark, create_time, update_by, update_time, create_by, address, location, reply, rate, send_user_id, receive_user_id, status, process_type, pic_urls, station_id from represent_discover
    </sql>

    <select id="selectRepresentDiscoverList" parameterType="RepresentDiscover" resultMap="RepresentDiscoverResult">
        <include refid="selectRepresentDiscoverVo"/>
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="discoverType != null "> and discover_type = #{discoverType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="processType != null "> and process_type = #{processType}</if>
            <if test="picUrls != null  and picUrls != ''"> and pic_urls = #{picUrls}</if>
            <if test="stationId != null "> and station_id = #{stationId}</if>
        </where>
    </select>

    <select id="selectRepresentDiscoverByDiscoverId" parameterType="Long" resultMap="RepresentDiscoverResult">
        <include refid="selectRepresentDiscoverVo"/>
        where discover_id = #{discoverId}
    </select>

    <insert id="insertRepresentDiscover" parameterType="RepresentDiscover" useGeneratedKeys="true" keyProperty="discoverId">
        insert into represent_discover
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="discoverType != null">discover_type,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="address != null">address,</if>
            <if test="location != null">location,</if>
            <if test="reply != null">reply,</if>
            <if test="rate != null">rate,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="receiveUserId != null">receive_user_id,</if>
            <if test="status != null">status,</if>
            <if test="processType != null">process_type,</if>
            <if test="picUrls != null">pic_urls,</if>
            <if test="stationId != null">station_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="discoverType != null">#{discoverType},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="address != null">#{address},</if>
            <if test="location != null">#{location},</if>
            <if test="reply != null">#{reply},</if>
            <if test="rate != null">#{rate},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="receiveUserId != null">#{receiveUserId},</if>
            <if test="status != null">#{status},</if>
            <if test="processType != null">#{processType},</if>
            <if test="picUrls != null">#{picUrls},</if>
            <if test="stationId != null">#{stationId},</if>
        </trim>
    </insert>

    <update id="updateRepresentDiscover" parameterType="RepresentDiscover">
        update represent_discover
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="discoverType != null">discover_type = #{discoverType},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="address != null">address = #{address},</if>
            <if test="location != null">location = #{location},</if>
            <if test="reply != null">reply = #{reply},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="receiveUserId != null">receive_user_id = #{receiveUserId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="processType != null">process_type = #{processType},</if>
            <if test="picUrls != null">pic_urls = #{picUrls},</if>
            <if test="stationId != null">station_id = #{stationId},</if>
        </trim>
        where discover_id = #{discoverId}
    </update>

    <delete id="deleteRepresentDiscoverByDiscoverId" parameterType="Long">
        delete from represent_discover where discover_id = #{discoverId}
    </delete>

    <delete id="deleteRepresentDiscoverByDiscoverIds" parameterType="String">
        delete from represent_discover where discover_id in
        <foreach item="discoverId" collection="array" open="(" separator="," close=")">
            #{discoverId}
        </foreach>
    </delete>
    <!-- ==========================================分割线-->

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(discover_id) FROM represent_discover
    </select>

    <select id="selectByRate" resultType="com.shahenpc.system.domain.represent.dto.DiscoverRingDto">
        SELECT
            ROUND((SELECT COUNT(d1.discover_id)  FROM represent_discover d1 WHERE d1.`status` = 3) /  COUNT(discover_id) *100,2) AS assignRate
        FROM represent_discover d
    </select>

  <!--  <select id="selectByRate" resultType="com.shahenpc.system.domain.represent.dto.DiscoverRingDto">
        SELECT
            CONCAT(CAST(CONVERT(100 * CAST((SELECT COUNT(d1.discover_id)  FROM represent_discover d1 WHERE d1.`status` = 3) AS DECIMAL) / CAST(COUNT(discover_id) AS DECIMAL), DECIMAL) AS CHAR)) AS assignRate,
            CONCAT(CAST(CONVERT(100 * CAST((SELECT COUNT(d1.discover_id)  FROM represent_discover d1 WHERE d1.rate >= 4) AS DECIMAL) / CAST(COUNT(discover_id) AS DECIMAL), DECIMAL) AS CHAR)) AS processRate
        FROM represent_discover
    </select>
-->
    <resultMap id="adminDetail" type="com.shahenpc.system.domain.represent.dto.DiscoverDetailDto" extends="RepresentDiscoverResult">
        <association property="track" column="discover_id" select="com.shahenpc.system.mapper.represent.RepresentDiscoverTrackMapper.selectByDiscoverId"></association>
    </resultMap>
    <select id="detail" parameterType="Long" resultMap="adminDetail">

        select
            discover_id, title, content,pic_urls, discover_type, remark, create_time, update_by, update_time, create_by, address, location, reply, rate, send_user_id, receive_user_id,
            status, process_type,
            (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type' AND d.dict_value = di.process_type)as processTypeName,
            (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type' AND d.dict_value = di.status)as statusName,
            (SELECT u.nick_name FROM sys_user u WHERE u.user_id = send_user_id)AS sendUserName,
            (SELECT u.nick_name FROM sys_user u WHERE u.user_id = receive_user_id)AS receiveUserName
        from represent_discover di where di.discover_id = #{discoverId}
    </select>

    <resultMap id="adminList" type="com.shahenpc.system.domain.represent.dto.DiscoverListDto" extends="RepresentDiscoverResult">

    </resultMap>
    <select id="adminList" parameterType="RepresentDiscover" resultMap="adminList">
        select d.discover_id,
        d.title, d.content,d.pic_urls, d.discover_type, d.remark,
        d.create_time, d.update_by, d.update_time, d.create_by, d.address, d.location,
        d.status, d.reply, d.rate, d.send_user_id,d.receive_user_id,
        (SELECT a.title FROM represent_home_access a WHERE a.access_id = d.station_id)AS accessName,
        (SELECT d1.dict_label FROM sys_dict_data d1 WHERE d1.dict_type='discover_status' AND d1.dict_value = d.status)AS processTypeName,
        (SELECT d1.dict_label FROM sys_dict_data d1 WHERE d1.dict_type='process_type' AND d1.dict_value = d.process_type)AS processTypeName,
        (SELECT d1.dict_label FROM sys_dict_data d1 WHERE d1.dict_type='discover_type' AND d1.dict_value = d.discover_type)AS discoverTypeName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = d.send_user_id)AS sendUserName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = d.receive_user_id)AS receiveUserName
        from represent_discover d
        <where>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="discoverType != null "> and discover_type = #{discoverType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
        </where>
        ORDER BY d.create_time DESC
    </select>

    <resultMap id="appList" type="com.shahenpc.system.domain.represent.dto.DiscoverAppListDto" extends="RepresentDiscoverResult">

    </resultMap>
    <select id="appList" parameterType="RepresentDiscover" resultMap="appList">
        select discover_id, title, content,pic_urls, discover_type, remark, create_time, update_by, update_time, create_by, address, location, reply, rate, send_user_id, receive_user_id, status, process_type,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = send_user_id)AS sendUserName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = receive_user_id)AS receiveUserName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_process_type' AND d.dict_value = a.process_type)AS processTypeName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_type' AND d.dict_value = a.discover_type)AS discoverTypeName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_status' AND d.dict_value = a.status )AS discoverStatusName
        from represent_discover a
        <where>
            <if test="title != null  and title != ''"> and a.title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="discoverType != null "> and discover_type = #{discoverType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
        </where>
        ORDER BY a.create_time DESC
    </select>


    <resultMap id="appDetail" type="com.shahenpc.system.domain.represent.dto.DiscoverAppDetailDto" extends="RepresentDiscoverResult">
        <association property="track" column="discover_id" select="com.shahenpc.system.mapper.represent.RepresentDiscoverTrackMapper.selectByDiscoverId"></association>
    </resultMap>
    <select id="appDetail" parameterType="Long" resultMap="appDetail">
        select discover_id, title, content,pic_urls, discover_type, remark, create_time, update_by, update_time, create_by, address, location,
               status, reply, rate, send_user_id, receive_user_id,process_type,
               (SELECT u.nick_name FROM sys_user u WHERE u.user_id = send_user_id)AS sendUserName,
               (SELECT u.nick_name FROM sys_user u WHERE u.user_id = receive_user_id)AS receiveUserName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_type' AND d.dict_value = a.discover_type)AS discoverTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_status' AND d.dict_value = a.status )AS discoverStatusName
        from represent_discover a  where discover_id = #{discoverId}
    </select>


    <select id="selectRepresentStatusList" parameterType="RepresentDiscover" resultMap="RepresentDiscoverResult">
        <include refid="selectRepresentDiscoverVo"/>
        where status != 5
    </select>

    <select id="selectByStatusCount" resultType="com.shahenpc.system.domain.represent.dto.DiscoverStatusCountDto">
        SELECT
            COUNT(discover_id)as total,
            SUM(if(status=1 ,1,0))AS jiaoTotal,
            SUM(if(status=2 ,1,0))AS jieTotal,
            SUM(if(status=3 ,1,0))AS pingTotal,
            SUM(if(status=4 ,1,0))AS yiTotal
        FROM represent_discover WHERE `status` != 5
    </select>

    <select id="selectByTotal" resultType="java.lang.Integer">
        SELECT COUNT(discover_id)as total FROM represent_discover WHERE `status` != 5
    </select>

    <select id="selectByLocation" resultType="java.lang.String">
        select location from represent_discover
    </select>

    <select id="doneList" resultMap="appDetail" parameterType="Long">
        SELECT d.discover_id, d.title, d.content, d.discover_type, d.remark, d.create_time, d.update_by, d.update_time, d.create_by,
               d.address, d.location, d.reply, d.rate, d.send_user_id, d.receive_user_id, d.status, d.process_type, d.pic_urls,
               (SELECT u.nick_name FROM sys_user u WHERE u.user_id = d.send_user_id)AS sendUserName,
               (SELECT u.nick_name FROM sys_user u WHERE u.user_id = d.receive_user_id)AS receiveUserName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_process_type' AND d.dict_value = d.process_type)AS processTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_type' AND d.dict_value = d.discover_type)AS discoverTypeName,
               (SELECT d1.dict_label FROM sys_dict_data d1 WHERE d1.dict_type='discover_status' AND d1.dict_value = d.status )AS statusName
        FROM represent_discover d LEFT JOIN  represent_discover_track t ON d.discover_id = t.discover_id
        WHERE t.send_user_id = #{sendUserId} and (d.`status` != 1 or d.process_type != 1)
        GROUP BY d.discover_id ORDER BY d.create_time DESC
    </select>
    <!--AND t.process_type != 1-->


    <select id="todoList" parameterType="RepresentDiscover" resultMap="appList">
        select discover_id, title, content,pic_urls, discover_type, remark, create_time, update_by, update_time, create_by, address, location, reply, rate, send_user_id, receive_user_id, status, process_type,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = send_user_id)AS sendUserName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = receive_user_id)AS receiveUserName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_process_type' AND d.dict_value = a.process_type)AS processTypeName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_type' AND d.dict_value = a.discover_type)AS discoverTypeName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_status' AND d.dict_value = a.status )AS discoverStatusName
        from represent_discover a
        <where>
            and a.status != 3
            <if test="stationId != null "> and station_id = #{stationId}</if>
            <if test="title != null  and title != ''"> and a.title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="discoverType != null "> and discover_type = #{discoverType}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="reply != null  and reply != ''"> and reply = #{reply}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
        </where>
        ORDER BY a.create_time DESC
    </select>

    <!--督查列表  -->
    <select id="translateList" parameterType="Long" resultMap="appList">
        select discover_id, title, content,pic_urls, discover_type, remark, create_time, update_by, update_time, create_by, address, location, reply, rate, send_user_id, receive_user_id, status, process_type,
               (SELECT u.nick_name FROM sys_user u WHERE u.user_id = send_user_id)AS sendUserName,
               (SELECT u.nick_name FROM sys_user u WHERE u.user_id = receive_user_id)AS receiveUserName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_process_type' AND d.dict_value = a.process_type)AS processTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_type' AND d.dict_value = a.discover_type)AS discoverTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_status' AND d.dict_value = a.status )AS discoverStatusName
        from represent_discover a
        <where>
            <if test="stationId != null and stationId != ''">
                a.station_id = #{stationId}
            </if>
        </where>
    </select>


    <select id="selectByGeRenRanking" resultType="com.shahenpc.system.domain.represent.dto.DiscoverRankingDto">
        SELECT
                (SELECT u.nick_name FROM sys_user u WHERE u.user_id =r.send_user_id) AS nickName,
                (SELECT a.short_name FROM represent_home_access a WHERE a.access_id = r.station_id) AS accessName,
                COUNT(send_user_id)AS ranking
        FROM  represent_discover r GROUP BY send_user_id ORDER BY ranking DESC
    </select>

    <select id="selectByContactRanking" resultType="com.shahenpc.system.domain.represent.dto.DiscoverContactRankingDto">
        SELECT
            a.short_name AS accessName,
            COUNT(station_id)AS ranking,
            COUNT(DISTINCT r.send_user_id)AS canyuCount,
            (SELECT COUNT(u.user_id) FROM sys_user u WHERE u.contact_station_id = r.station_id AND u.del_flag = '0')AS contactCount,
            CONCAT(ROUND(COUNT(DISTINCT r.send_user_id) /(SELECT COUNT(u.user_id) FROM sys_user u WHERE u.contact_station_id = r.station_id AND u.del_flag = '0'),2),'')AS baifenlv
        FROM  represent_discover r LEFT JOIN represent_home_access a ON a.access_id = r.station_id  WHERE a.`level` != 0
        GROUP BY r.station_id ORDER BY ranking DESC
    </select>

    <select id="selectByContactbaifenlvRanking" resultType="com.shahenpc.system.domain.represent.dto.DiscoverContactRankingDto">
        SELECT
            (SELECT a.short_name FROM represent_home_access a WHERE a.access_id = r.station_id) AS accessName,
            COUNT(station_id)AS ranking,
            COUNT(DISTINCT r.send_user_id)AS canyuCount,
            (SELECT COUNT(u.user_id) FROM sys_user u WHERE u.contact_station_id = r.station_id AND u.del_flag = '0')AS contactCount,
            CONCAT(ROUND(COUNT(DISTINCT r.send_user_id) /(SELECT COUNT(u.user_id) FROM sys_user u WHERE u.contact_station_id = r.station_id AND u.del_flag = '0'),2),'')AS baifenlv
        FROM  represent_discover r GROUP BY r.station_id ORDER BY baifenlv DESC
    </select>


    <select id="selectByTotalLv" resultType="com.shahenpc.system.domain.represent.dto.DiscoverTotalRenLVDto">
        SELECT
            COUNT(DISTINCT send_user_id) AS CanRenCount,
            (SELECT COUNT(u.user_id) FROM sys_user u WHERE u.`user_type` &amp; 1 > 0 and u.del_flag = '0')AS RenCount,
            CONCAT(ROUND(COUNT(DISTINCT send_user_id) /(SELECT COUNT(u.user_id) FROM sys_user u WHERE u.`user_type` &amp; 1 > 0 and u.del_flag = '0'),2),'')AS baifenlv
        FROM  represent_discover r
    </select>

    <select id="selectByReceiveUserId" parameterType="Long" resultType="com.shahenpc.system.domain.represent.dto.DiscoverUserIdDto">
        SELECT (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='discover_type' AND d.dict_value = a.discover_type)AS discoverTypeName,a.create_time as createTime
        FROM represent_discover a WHERE a.`status` = 3 AND a.receive_user_id = #{receiveUserId}
    </select>
</mapper>