<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.outlay.OutlayBudgetMapper">
    
    <resultMap type="OutlayBudget" id="OutlayBudgetResult">
        <result property="budgetId"    column="budget_id"    />
        <result property="alarmId"    column="alarm_id"    />
        <result property="budgetType"    column="budget_type"    />
        <result property="title"    column="title"    />
        <result property="year"    column="year"    />
        <result property="illustrate"    column="illustrate"    />
        <result property="amount"    column="amount"    />
        <result property="status"    column="status"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="proposedUserId"    column="proposed_user_id"    />
        <result property="beyondRatio"    column="beyond_ratio"    />
    </resultMap>

    <sql id="selectOutlayBudgetVo">
        select budget_id, alarm_id, budget_type, title, year, illustrate, amount, status, remark, create_time, update_by, update_time, create_by, proposed_user_id, beyond_ratio from outlay_budget
    </sql>

    <select id="selectOutlayBudgetList" parameterType="OutlayBudget" resultMap="OutlayBudgetResult">
        <include refid="selectOutlayBudgetVo"/>
        <where>  
            <if test="alarmId != null "> and alarm_id = #{alarmId}</if>
            <if test="budgetType != null "> and budget_type = #{budgetType}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="year != null  and year != ''"> and year = #{year}</if>
            <if test="illustrate != null  and illustrate != ''"> and illustrate = #{illustrate}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="proposedUserId != null "> and proposed_user_id = #{proposedUserId}</if>
            <if test="beyondRatio != null  and beyondRatio != ''"> and beyond_ratio = #{beyondRatio}</if>
        </where>
    </select>
    
    <select id="selectOutlayBudgetByBudgetId" parameterType="Long" resultMap="OutlayBudgetResult">
        <include refid="selectOutlayBudgetVo"/>
        where budget_id = #{budgetId}
    </select>
        
    <insert id="insertOutlayBudget" parameterType="OutlayBudget">
        insert into outlay_budget
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="budgetId != null">budget_id,</if>
            <if test="alarmId != null">alarm_id,</if>
            <if test="budgetType != null">budget_type,</if>
            <if test="title != null">title,</if>
            <if test="year != null">year,</if>
            <if test="illustrate != null">illustrate,</if>
            <if test="amount != null">amount,</if>
            <if test="status != null">status,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="proposedUserId != null">proposed_user_id,</if>
            <if test="beyondRatio != null">beyond_ratio,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="budgetId != null">#{budgetId},</if>
            <if test="alarmId != null">#{alarmId},</if>
            <if test="budgetType != null">#{budgetType},</if>
            <if test="title != null">#{title},</if>
            <if test="year != null">#{year},</if>
            <if test="illustrate != null">#{illustrate},</if>
            <if test="amount != null">#{amount},</if>
            <if test="status != null">#{status},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="proposedUserId != null">#{proposedUserId},</if>
            <if test="beyondRatio != null">#{beyondRatio},</if>
         </trim>
    </insert>

    <update id="updateOutlayBudget" parameterType="OutlayBudget">
        update outlay_budget
        <trim prefix="SET" suffixOverrides=",">
            <if test="alarmId != null">alarm_id = #{alarmId},</if>
            <if test="budgetType != null">budget_type = #{budgetType},</if>
            <if test="title != null">title = #{title},</if>
            <if test="year != null">year = #{year},</if>
            <if test="illustrate != null">illustrate = #{illustrate},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="proposedUserId != null">proposed_user_id = #{proposedUserId},</if>
            <if test="beyondRatio != null">beyond_ratio = #{beyondRatio},</if>
        </trim>
        where budget_id = #{budgetId}
    </update>

    <delete id="deleteOutlayBudgetByBudgetId" parameterType="Long">
        delete from outlay_budget where budget_id = #{budgetId}
    </delete>

    <delete id="deleteOutlayBudgetByBudgetIds" parameterType="String">
        delete from outlay_budget where budget_id in 
        <foreach item="budgetId" collection="array" open="(" separator="," close=")">
            #{budgetId}
        </foreach>
    </delete>
    <!-- ==================================分割线-->
    <select id="selectByCountAndMonth" resultType="com.shahenpc.system.domain.outlay.dto.CountDto">
        SELECT
                (SELECT COUNT(s.budget_id))AS countPen,
                (SELECT COUNT(a1.budget_id) FROM outlay_actual a1  WHERE DATE_FORMAT(a1.create_time,'%Y%m') = DATE_FORMAT(CURDATE(),'%Y%m'))AS monthPen
        FROM outlay_budget s
    </select>
</mapper>