<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.outlay.OutlayAlarmMapper">
    
    <resultMap type="OutlayAlarm" id="OutlayAlarmResult">
        <result property="alarmId"    column="alarm_id"    />
        <result property="actualId"    column="actual_id"    />
        <result property="budgetId"    column="budget_id"    />
        <result property="settingId"    column="setting_id"    />
        <result property="cause"    column="cause"    />
        <result property="beyondRatio"    column="beyond_ratio"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectOutlayAlarmVo">
        select alarm_id, actual_id, budget_id, setting_id, cause, beyond_ratio, remark, create_time, update_by, update_time, create_by from outlay_alarm
    </sql>

    <select id="selectOutlayAlarmList" parameterType="OutlayAlarm" resultMap="OutlayAlarmResult">
        <include refid="selectOutlayAlarmVo"/>
        <where>  
            <if test="actualId != null "> and actual_id = #{actualId}</if>
            <if test="budgetId != null "> and budget_id = #{budgetId}</if>
            <if test="settingId != null "> and setting_id = #{settingId}</if>
            <if test="cause != null  and cause != ''"> and cause = #{cause}</if>
            <if test="beyondRatio != null  and beyondRatio != ''"> and beyond_ratio = #{beyondRatio}</if>
        </where>
    </select>
    
    <select id="selectOutlayAlarmByAlarmId" parameterType="Long" resultMap="OutlayAlarmResult">
        <include refid="selectOutlayAlarmVo"/>
        where alarm_id = #{alarmId}
    </select>
        
    <insert id="insertOutlayAlarm" parameterType="OutlayAlarm" useGeneratedKeys="true" keyProperty="alarmId">
        insert into outlay_alarm
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="actualId != null">actual_id,</if>
            <if test="budgetId != null">budget_id,</if>
            <if test="settingId != null">setting_id,</if>
            <if test="cause != null">cause,</if>
            <if test="beyondRatio != null">beyond_ratio,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="actualId != null">#{actualId},</if>
            <if test="budgetId != null">#{budgetId},</if>
            <if test="settingId != null">#{settingId},</if>
            <if test="cause != null">#{cause},</if>
            <if test="beyondRatio != null">#{beyondRatio},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateOutlayAlarm" parameterType="OutlayAlarm">
        update outlay_alarm
        <trim prefix="SET" suffixOverrides=",">
            <if test="actualId != null">actual_id = #{actualId},</if>
            <if test="budgetId != null">budget_id = #{budgetId},</if>
            <if test="settingId != null">setting_id = #{settingId},</if>
            <if test="cause != null">cause = #{cause},</if>
            <if test="beyondRatio != null">beyond_ratio = #{beyondRatio},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where alarm_id = #{alarmId}
    </update>

    <delete id="deleteOutlayAlarmByAlarmId" parameterType="Long">
        delete from outlay_alarm where alarm_id = #{alarmId}
    </delete>

    <delete id="deleteOutlayAlarmByAlarmIds" parameterType="String">
        delete from outlay_alarm where alarm_id in 
        <foreach item="alarmId" collection="array" open="(" separator="," close=")">
            #{alarmId}
        </foreach>
    </delete>
</mapper>