<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.feature.FeatureDoubleWorkMapper">

    <resultMap type="FeatureDoubleWork" id="FeatureDoubleWorkResult">
        <result property="doubleId"    column="double_id"    />
        <result property="doubleType"    column="double_type"    />
        <result property="title"    column="title"    />
        <result property="status"    column="status"    />
        <result property="content"    column="content"    />
        <result property="picUrls"    column="pic_urls"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="submitUserId"    column="submit_user_id"    />
        <result property="receiveUserId"    column="receive_user_id"    />
        <result property="isRead"    column="is_read"    />
        <result property="rate"    column="rate"    />
        <result property="address"    column="address"    />
        <result property="location"    column="location"    />
    </resultMap>

    <sql id="selectFeatureDoubleWorkVo">
        select double_id, double_type, title, status, content, pic_urls, create_by, create_time, update_by, update_time, remark, submit_user_id, receive_user_id, is_read, rate, address, location from feature_double_work
    </sql>

    <select id="selectFeatureDoubleWorkList" parameterType="FeatureDoubleWork" resultMap="FeatureDoubleWorkResult">
        <include refid="selectFeatureDoubleWorkVo"/>
        <where>
            <if test="doubleType != null "> and double_type = #{doubleType}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="picUrls != null  and picUrls != ''"> and pic_urls = #{picUrls}</if>
            <if test="submitUserId != null "> and submit_user_id = #{submitUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
        </where>
    </select>

    <select id="selectFeatureDoubleWorkByDoubleId" parameterType="Long" resultMap="FeatureDoubleWorkResult">
        <include refid="selectFeatureDoubleWorkVo"/>
        where double_id = #{doubleId}
    </select>

    <insert id="insertFeatureDoubleWork" parameterType="FeatureDoubleWork" useGeneratedKeys="true" keyProperty="doubleId">
        insert into feature_double_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doubleType != null">double_type,</if>
            <if test="title != null">title,</if>
            <if test="status != null">status,</if>
            <if test="content != null">content,</if>
            <if test="picUrls != null">pic_urls,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="submitUserId != null">submit_user_id,</if>
            <if test="receiveUserId != null">receive_user_id,</if>
            <if test="isRead != null">is_read,</if>
            <if test="rate != null">rate,</if>
            <if test="address != null">address,</if>
            <if test="location != null">location,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doubleType != null">#{doubleType},</if>
            <if test="title != null">#{title},</if>
            <if test="status != null">#{status},</if>
            <if test="content != null">#{content},</if>
            <if test="picUrls != null">#{picUrls},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="submitUserId != null">#{submitUserId},</if>
            <if test="receiveUserId != null">#{receiveUserId},</if>
            <if test="isRead != null">#{isRead},</if>
            <if test="rate != null">#{rate},</if>
            <if test="address != null">#{address},</if>
            <if test="location != null">#{location},</if>
        </trim>
    </insert>

    <update id="updateFeatureDoubleWork" parameterType="FeatureDoubleWork">
        update feature_double_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="doubleType != null">double_type = #{doubleType},</if>
            <if test="title != null">title = #{title},</if>
            <if test="status != null">status = #{status},</if>
            <if test="content != null">content = #{content},</if>
            <if test="picUrls != null">pic_urls = #{picUrls},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="submitUserId != null">submit_user_id = #{submitUserId},</if>
            <if test="receiveUserId != null">receive_user_id = #{receiveUserId},</if>
            <if test="isRead != null">is_read = #{isRead},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="address != null">address = #{address},</if>
            <if test="location != null">location = #{location},</if>
        </trim>
        where double_id = #{doubleId}
    </update>

    <delete id="deleteFeatureDoubleWorkByDoubleId" parameterType="Long">
        delete from feature_double_work where double_id = #{doubleId}
    </delete>

    <delete id="deleteFeatureDoubleWorkByDoubleIds" parameterType="String">
        delete from feature_double_work where double_id in
        <foreach item="doubleId" collection="array" open="(" separator="," close=")">
            #{doubleId}
        </foreach>
    </delete>
    <!--======================================分割线-->
    <resultMap id="adminList" type="com.shahenpc.system.domain.feature.dto.DoubleListDto" extends="FeatureDoubleWorkResult">

    </resultMap>
    <select id="adminList" resultMap="adminList" parameterType="FeatureDoubleWork">
        select w.double_id, w.double_type, w.title, w.status, w.content, w.pic_urls, w.create_by, w.create_time, w.update_by, w.update_time, w.remark, w.submit_user_id, w.receive_user_id,
        w.is_read,u.avatar,u.nick_name AS nickName,u.phonenumber from feature_double_work w LEFT JOIN sys_user u ON u.user_id = w.receive_user_id
        <where>
            <if test="doubleType != null "> and w.double_type = #{doubleType}</if>
            <if test="title != null  and title != ''"> and w.title = #{title}</if>
            <if test="status != null "> and w.status = #{status}</if>
            <if test="content != null  and content != ''"> and w.content = #{content}</if>
            <if test="picUrls != null  and picUrls != ''"> and w.pic_urls = #{picUrls}</if>
            <if test="submitUserId != null "> and w.submit_user_id = #{submitUserId}</if>
            <if test="receiveUserId != null "> and w.receive_user_id = #{receiveUserId}</if>
            <if test="isRead != null "> and w.is_read = #{isRead}</if>
            <if test="rate != null">and w.rate = #{rate},</if>
        </where>
    </select>


    <select id="selectByCakeType" resultMap="FeatureDoubleWorkResult">
        <include refid="selectFeatureDoubleWorkVo"/>
    </select>

    <select id="selectByMonth" resultType="com.shahenpc.system.domain.feature.dto.FeatureMonthDto">
        SELECT MONTH(s.create_time) AS yue,count(s.opinion_id) as shuliang FROM `special_opinion` s GROUP BY MONTH(s.create_time)
    </select>

    <select id="eachCount" resultType="com.shahenpc.system.domain.feature.dto.FeatureEachCount">
        SELECT
                (SELECT COUNT(f.receive_user_id) FROM feature_double_work f)AS participate,
                (SELECT COUNT(s.submit_user_id) FROM feature_double_work s)AS masses,
                (SELECT COUNT(d.double_id) FROM feature_double_work d WHERE d.`status` = 3) AS processed,
                (SELECT COUNT(g.double_id) FROM feature_double_work g WHERE g.`status`= 2)AS proportion
        FROM feature_double_work LIMIT 1;
    </select>

    <select id="selectByRing" resultType="com.shahenpc.system.domain.feature.dto.FeatureRing">
        SELECT
            CONCAT(CAST(CONVERT(100 * CAST((SELECT COUNT(g.double_id) FROM feature_double_work g WHERE g.`status` IN(3,4)) AS DECIMAL) / CAST(COUNT(double_id) AS DECIMAL), DECIMAL) AS CHAR)) AS collectRate,
            CONCAT(CAST(CONVERT(100 * CAST((SELECT COUNT(g.double_id) FROM feature_double_work g WHERE g.rate >= 4) AS DECIMAL) / CAST(COUNT(double_id) AS DECIMAL), DECIMAL) AS CHAR)) AS processRate
        FROM feature_double_work
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(double_id) FROM feature_double_work;
    </select>


    <resultMap id="appList" type="com.shahenpc.system.domain.feature.dto.DoubleAppListDto" extends="FeatureDoubleWorkResult">

    </resultMap>
    <select id="appList" parameterType="FeatureDoubleWork" resultMap="appList">
        select double_id, double_type, title, status, content, pic_urls, create_by, create_time, update_by, update_time, remark, submit_user_id, receive_user_id, is_read,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_type' AND d.dict_value = a.double_type )AS doubleTypeName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_status' AND d.dict_value = a.status )AS doubleStatusName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = a.submit_user_id)AS sendUserName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = a.receive_user_id)AS receiveUserName
        from feature_double_work a
        <where>
            <if test="doubleType != null "> and double_type = #{doubleType}</if>
            <if test="title != null  and title != ''"> and a.title = #{title}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="picUrls != null  and picUrls != ''"> and pic_urls = #{picUrls}</if>
            <if test="submitUserId != null "> and submit_user_id = #{submitUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="isRead != null "> and is_read = #{isRead}</if>
        </where>
    </select>

    <select id="selectByCountRanking" resultType="com.shahenpc.system.domain.feature.dto.DoubleCountRanDto" parameterType="java.lang.Long">
        SELECT
            `count`,@rownum := @rownum + 1 AS rownum
        FROM
            (SELECT receive_user_id,COUNT(double_id) AS `count` FROM `feature_double_work` GROUP BY receive_user_id  ORDER BY `count` DESC) AS obj,
            (SELECT @rownum := 0) r WHERE receive_user_id = #{userId}
    </select>
</mapper>