<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.feature.FeatureDoubleWorkTraceMapper">

    <resultMap type="FeatureDoubleWorkTrace" id="FeatureDoubleWorkTraceResult">
        <result property="traceId"    column="trace_id"    />
        <result property="doubleId"    column="double_id"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="receiveUserId"    column="receive_user_id"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="picUrls"    column="pic_urls"    />
        <result property="revert"    column="revert"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="processType"    column="process_type"    />
    </resultMap>

    <sql id="selectFeatureDoubleWorkTraceVo">
        select trace_id, double_id, send_user_id, receive_user_id, type, status, pic_urls, revert, remark, create_by, create_time, update_by, update_time, process_type from feature_double_work_trace
    </sql>

    <select id="selectFeatureDoubleWorkTraceList" parameterType="FeatureDoubleWorkTrace" resultMap="FeatureDoubleWorkTraceResult">
        <include refid="selectFeatureDoubleWorkTraceVo"/>
        <where>
            <if test="doubleId != null "> and double_id = #{doubleId}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="picUrls != null  and picUrls != ''"> and pic_urls = #{picUrls}</if>
            <if test="revert != null  and revert != ''"> and revert = #{revert}</if>
            <if test="processType != null "> and process_type = #{processType}</if>
        </where>
    </select>

    <select id="selectFeatureDoubleWorkTraceByTraceId" parameterType="Long" resultMap="FeatureDoubleWorkTraceResult">
        <include refid="selectFeatureDoubleWorkTraceVo"/>
        where trace_id = #{traceId}
    </select>

    <insert id="insertFeatureDoubleWorkTrace" parameterType="FeatureDoubleWorkTrace" useGeneratedKeys="true" keyProperty="traceId">
        insert into feature_double_work_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="doubleId != null">double_id,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="receiveUserId != null">receive_user_id,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="picUrls != null">pic_urls,</if>
            <if test="revert != null">revert,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="processType != null">process_type,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="doubleId != null">#{doubleId},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="receiveUserId != null">#{receiveUserId},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="picUrls != null">#{picUrls},</if>
            <if test="revert != null">#{revert},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="processType != null">#{processType},</if>
        </trim>
    </insert>

    <update id="updateFeatureDoubleWorkTrace" parameterType="FeatureDoubleWorkTrace">
        update feature_double_work_trace
        <trim prefix="SET" suffixOverrides=",">
            <if test="doubleId != null">double_id = #{doubleId},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="receiveUserId != null">receive_user_id = #{receiveUserId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="picUrls != null">pic_urls = #{picUrls},</if>
            <if test="revert != null">revert = #{revert},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="processType != null">process_type = #{processType},</if>
        </trim>
        where trace_id = #{traceId}
    </update>

    <delete id="deleteFeatureDoubleWorkTraceByTraceId" parameterType="Long">
        delete from feature_double_work_trace where trace_id = #{traceId}
    </delete>

    <delete id="deleteFeatureDoubleWorkTraceByTraceIds" parameterType="String">
        delete from feature_double_work_trace where trace_id in
        <foreach item="traceId" collection="array" open="(" separator="," close=")">
            #{traceId}
        </foreach>
    </delete>
    <!--===============================================================分割线-->
    <resultMap id="adminList" type="com.shahenpc.system.domain.feature.dto.TraceListDto" extends="FeatureDoubleWorkTraceResult">

    </resultMap>
    <select id="adminList" parameterType="FeatureDoubleWorkTrace" resultMap="adminList">
        select trace_id, double_id, send_user_id, receive_user_id,status,revert, create_by, create_time, update_by, update_time, remark, pic_urls,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = a.send_user_id)AS sendUserName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = a.receive_user_id)AS receiveUserName
        from feature_double_work_trace a
        <where>
            <if test="doubleId != null "> and double_id = #{doubleId}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="revert != null and revert != ''">and revert = #{revert},</if>
            <if test="picUrls != null  and picUrls != ''"> and pic_urls = #{picUrls}</if>
        </where>
    </select>
    <!--根据 -->
    <resultMap id="appList" type="com.shahenpc.system.domain.feature.dto.TraceDouBleDto" extends="FeatureDoubleWorkTraceResult">

    </resultMap>
    <select id="selectByDoubleId" resultMap="appList" parameterType="Long">
        select t.trace_id, t.double_id, t.send_user_id, t.receive_user_id, t.type, t.status,
               t.pic_urls, t.revert, t.remark, t.create_by, t.create_time, t.update_by, t.update_time, t.process_type,
               t.process_type,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type' AND d.dict_value = t.process_type)as processTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type_status' AND d.dict_value = t.status)as statusName,
               (SELECT d1.dept_name FROM sys_dept d1 WHERE d1.dept_id = (SELECT u1.dept_id FROM sys_user u1 WHERE u1.user_id = t.receive_user_id)) AS receiceDeptName,
               (select u.nick_name FROM  sys_user u where u.user_id = t.receive_user_id)as receiveName,
               (select u.phonenumber FROM  sys_user u where u.user_id = t.receive_user_id)as receivePhone,
               (select u.nick_name FROM  sys_user u where u.user_id = t.send_user_id)as sendName,
               (select u.phonenumber FROM  sys_user u where u.user_id = t.send_user_id)as sendPhone
        from feature_double_work_trace t
        where double_id = #{doubleId}
        ORDER BY t.create_time DESC
    </select>

    <select id="selectByCurrent" resultMap="FeatureDoubleWorkTraceResult">
        <include refid="selectFeatureDoubleWorkTraceVo"/>
        where double_id = #{doubleId} and `process_type`= #{processType} and receive_user_id = #{receiveUserId}
    </select>

    <select id="selectBySendUserId" resultMap="FeatureDoubleWorkTraceResult">
        <include refid="selectFeatureDoubleWorkTraceVo"/>
        WHERE receive_user_id = #{receiveUserId} AND double_id = #{doubleId} AND `status` != 4
    </select>
</mapper>