<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.feature.FeatureDoubleWorkMapper">

    <resultMap type="FeatureDoubleWork" id="FeatureDoubleWorkResult">
        <result property="doubleId"    column="double_id"    />
        <result property="type"    column="type"    />
        <result property="title"    column="title"    />
        <result property="status"    column="status"    />
        <result property="picUrls"    column="pic_urls"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="receiveUserId"    column="receive_user_id"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="rate"    column="rate"    />
        <result property="address"    column="address"    />
        <result property="location"    column="location"    />
        <result property="processType"    column="process_type"    />
        <result property="nickName"    column="nick_name"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="idCard"    column="id_card"    />
        <result property="homeAddress"    column="home_address"    />
        <result property="stationId"    column="station_id"    />
    </resultMap>

    <sql id="selectFeatureDoubleWorkVo">
        select double_id, type, title, status, pic_urls, content, create_by, create_time, update_by,
               update_time, remark, receive_user_id, send_user_id, rate, address, location,
               nick_name,phonenumber,id_card,home_address,station_id,process_type
        from feature_double_work
    </sql>

    <select id="selectFeatureDoubleWorkList" parameterType="FeatureDoubleWork" resultMap="FeatureDoubleWorkResult">
        <include refid="selectFeatureDoubleWorkVo"/>
        <where>
            <if test="type != null "> and type = #{type}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="picUrls != null  and picUrls != ''"> and pic_urls = #{picUrls}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="processType != null "> and process_type = #{processType}</if>
        </where>
    </select>

    <select id="selectFeatureDoubleWorkByDoubleId" parameterType="Long" resultMap="FeatureDoubleWorkResult">
        <include refid="selectFeatureDoubleWorkVo"/>
        where double_id = #{doubleId}
    </select>

    <insert id="insertFeatureDoubleWork" parameterType="FeatureDoubleWork" useGeneratedKeys="true" keyProperty="doubleId">
        insert into feature_double_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null">type,</if>
            <if test="title != null">title,</if>
            <if test="status != null">status,</if>
            <if test="picUrls != null">pic_urls,</if>
            <if test="content != null">content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="receiveUserId != null">receive_user_id,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="rate != null">rate,</if>
            <if test="address != null">address,</if>
            <if test="location != null">location,</if>
            <if test="processType != null">process_type,</if>
            <if test="nickName != null">nick_name,</if>
            <if test="phonenumber != null">phonenumber,</if>
            <if test="idCard != null">id_card,</if>
            <if test="homeAddress != null">home_address,</if>
            <if test="stationId != null">station_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">#{type},</if>
            <if test="title != null">#{title},</if>
            <if test="status != null">#{status},</if>
            <if test="picUrls != null">#{picUrls},</if>
            <if test="content != null">#{content},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="receiveUserId != null">#{receiveUserId},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="rate != null">#{rate},</if>
            <if test="address != null">#{address},</if>
            <if test="location != null">#{location},</if>
            <if test="processType != null">#{processType},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="phonenumber != null">#{phonenumber},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="homeAddress != null">#{homeAddress},</if>
            <if test="stationId != null">#{stationId},</if>
        </trim>
    </insert>

    <update id="updateFeatureDoubleWork" parameterType="FeatureDoubleWork">
        update feature_double_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="title != null">title = #{title},</if>
            <if test="status != null">status = #{status},</if>
            <if test="picUrls != null">pic_urls = #{picUrls},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="receiveUserId != null">receive_user_id = #{receiveUserId},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="address != null">address = #{address},</if>
            <if test="location != null">location = #{location},</if>
            <if test="processType != null">process_type = #{processType},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="phonenumber != null">phonenumber = #{phonenumber},</if>
            <if test="idCard != null">id_card = #{idCard},</if>
            <if test="homeAddress != null">home_address = #{homeAddress},</if>
            <if test="stationId != null">station_id = #{stationId},</if>
        </trim>
        where double_id = #{doubleId}
    </update>

    <delete id="deleteFeatureDoubleWorkByDoubleId" parameterType="Long">
        delete from feature_double_work where double_id = #{doubleId}
    </delete>

    <delete id="deleteFeatureDoubleWorkByDoubleIds" parameterType="String">
        delete from feature_double_work where double_id in
        <foreach item="doubleId" collection="array" open="(" separator="," close=")">
            #{doubleId}
        </foreach>
    </delete>
    <!--======================================分割线-->
    <!--详情-->
    <resultMap id="detail" type="com.shahenpc.system.domain.feature.dto.DoubleDetatilDto" extends="FeatureDoubleWorkResult">
        <association property="trace" column="double_id" select="com.shahenpc.system.mapper.feature.FeatureDoubleWorkTraceMapper.selectByDoubleId"></association>
    </resultMap>
    <select id="adminDateil" resultMap="detail">
        select w.double_id, w.type, w.title, w.status, w.pic_urls, w.content, w.create_by, w.create_time, w.update_by,
               w.update_time, w.remark, w.receive_user_id, w.send_user_id, w.rate, w.address, w.location,
               w.nick_name,w.phonenumber,w.id_card,w.home_address,w.station_id,w.process_type,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_type' AND d.dict_value = w.type )AS doubleTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type' AND d.dict_value = w.process_type)as processTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type_status' AND d.dict_value = w.status)as statusName
        from feature_double_work w
        where double_id = #{doubleId}
    </select>
    <!--待办-->
    <resultMap id="appLists" type="com.shahenpc.system.domain.feature.dto.TodoListDto" extends="FeatureDoubleWorkResult">

    </resultMap>
    <select id="selectByTodoList" parameterType="FeatureDoubleWork" resultMap="appLists">
        SELECT w.double_id, w.type, w.title, w.`status`, w.pic_urls, w.content, w.create_by, w.create_time, w.update_by, w.update_time,
               w.remark, w.receive_user_id, w.send_user_id, w.rate, w.address, w.location,
               w.phonenumber,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_type' AND d.dict_value = w.type )AS doubleTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type' AND d.dict_value = t.process_type)as processTypeName,
               (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type_status' AND d.dict_value = t.status)as statusName
        FROM feature_double_work_trace t
        RIGHT JOIN feature_double_work w ON w.double_id = t.double_id
        WHERE t.receive_user_id= #{receiveUserId} AND t.`status` = 0
        GROUP BY w.double_id ORDER BY w.create_time DESC
    </select>
    <!--已办-->
    <select id="selectByDoneList" parameterType="FeatureDoubleWork" resultMap="appLists">
        SELECT  w.double_id,w.type, w.title, w.`status`, w.pic_urls, w.content, w.create_by, w.create_time, w.update_by, w.update_time,
                w.remark, w.receive_user_id, w.send_user_id, w.rate, w.address, w.location,r.`status`,
                (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_type' AND d.dict_value = w.type )AS doubleTypeName,
                (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type' AND d.dict_value = w.process_type)as processTypeName,
                (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_process_type_status' AND d.dict_value = w.status)as statusName
        FROM feature_double_work_trace r RIGHT JOIN feature_double_work w ON w.double_id = r.double_id
        WHERE r.send_user_id= #{sendUserId} ORDER BY w.create_time DESC
    </select>


    <resultMap id="adminList" type="com.shahenpc.system.domain.feature.dto.DoubleListDto" extends="FeatureDoubleWorkResult">

    </resultMap>
    <select id="adminList" parameterType="FeatureDoubleWork" resultMap="adminList">
        select w.double_id, w.type, w.title, w.status, w.content, w.pic_urls, w.create_by, w.create_time,
               w.update_by, w.update_time, w.remark, w.send_user_id, w.receive_user_id,
               w.rate,w.location,w.process_type,
                u.avatar,u.nick_name AS nickName,u.phonenumber as receivePhone,u2.phonenumber as sendPhone,
                (SELECT u.nick_name FROM sys_user u WHERE u.user_id = w.receive_user_id)AS receiveName
        from feature_double_work w
            LEFT JOIN sys_user u ON u.user_id = w.receive_user_id
            LEFT JOIN sys_user u2 ON u2.user_id = w.send_user_id
        <where>
            <if test="type != null and type != ''">and w.type = #{type},</if>
            <if test="title != null  and title != ''"> and w.title = #{title}</if>
            <if test="status != null and status != ''"> and w.status = #{status}</if>
            <if test="content != null  and content != ''"> and w.content = #{content}</if>
            <if test="picUrls != null  and picUrls != ''"> and w.pic_urls = #{picUrls}</if>
            <if test="sendUserId != null and sendUserId != ''">and w.send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null and receiveUserId != ''"> and w.receive_user_id = #{receiveUserId}</if>
            <if test="rate != null and rate != ''">and w.rate = #{rate}</if>
        </where>
    </select>


    <select id="selectByCakeType" resultMap="FeatureDoubleWorkResult">
        <include refid="selectFeatureDoubleWorkVo"/>
    </select>

    <select id="selectByMonth" resultType="com.shahenpc.system.domain.feature.dto.FeatureMonthDto">
        SELECT MONTH(s.create_time) AS yue,count(s.opinion_id) as shuliang FROM `special_opinion` s GROUP BY MONTH(s.create_time)
    </select>

    <select id="eachCount" resultType="com.shahenpc.system.domain.feature.dto.FeatureEachCount">
        SELECT
                (SELECT COUNT(f.receive_user_id) FROM feature_double_work f)AS participate,
                (SELECT COUNT(s.send_user_id) FROM feature_double_work s)AS masses,
                (SELECT COUNT(d.double_id) FROM feature_double_work d WHERE d.`status` = 3) AS processed,
                (SELECT COUNT(g.double_id) FROM feature_double_work g WHERE g.`status`= 2)AS proportion
        FROM feature_double_work LIMIT 1;
    </select>

    <select id="selectByRing" resultType="com.shahenpc.system.domain.feature.dto.FeatureRing">
        SELECT
            CONCAT(CAST(CONVERT(100 * CAST((SELECT COUNT(g.double_id) FROM feature_double_work g WHERE g.`status` IN(3,4)) AS DECIMAL) / CAST(COUNT(double_id) AS DECIMAL), DECIMAL) AS CHAR)) AS collectRate,
            CONCAT(CAST(CONVERT(100 * CAST((SELECT COUNT(g.double_id) FROM feature_double_work g WHERE g.rate >= 4) AS DECIMAL) / CAST(COUNT(double_id) AS DECIMAL), DECIMAL) AS CHAR)) AS processRate
        FROM feature_double_work
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(double_id) FROM feature_double_work;
    </select>


    <resultMap id="appList" type="com.shahenpc.system.domain.feature.dto.DoubleAppListDto" extends="FeatureDoubleWorkResult">

    </resultMap>
    <select id="appList" parameterType="FeatureDoubleWork" resultMap="appList">
        select double_id, type, title, status, content, pic_urls, create_by, create_time, update_by, update_time, remark, send_user_id,
               receive_user_id,a.rate,a.location,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_type' AND d.dict_value = a.type )AS doubleTypeName,
        (SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type='double_status' AND d.dict_value = a.status )AS doubleStatusName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = a.send_user_id)AS sendUserName,
        (SELECT u.nick_name FROM sys_user u WHERE u.user_id = a.receive_user_id)AS receiveUserName
        from feature_double_work a
        <where>
            <if test="type != null">and a.type = #{type},</if>
            <if test="title != null  and title != ''"> and a.title = #{title}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="picUrls != null  and picUrls != ''"> and pic_urls = #{picUrls}</if>
            <if test="sendUserId != null">and w.send_user_id = #{sendUserId},</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
        </where>
    </select>

    <select id="selectByCountRanking" resultType="com.shahenpc.system.domain.feature.dto.DoubleCountRanDto" parameterType="java.lang.Long">
        SELECT
            `count`,@rownum := @rownum + 1 AS rownum
        FROM
            (SELECT receive_user_id,COUNT(double_id) AS `count` FROM `feature_double_work` GROUP BY receive_user_id  ORDER BY `count` DESC) AS obj,
            (SELECT @rownum := 0) r WHERE receive_user_id = #{userId}
    </select>



    <select id="selectByStatusCount" resultType="com.shahenpc.system.domain.feature.dto.DoubleStatusCountDto">
        SELECT
            COUNT(double_id) total,
            SUM(if(status=1 ,1,0))AS jiaoTotal,
            SUM(if(status=2 ,1,0))AS jieTotal,
            SUM(if(status=3 ,1,0))AS pingTotal,
            SUM(if(status=4 ,1,0))AS yiTotal
        FROM feature_double_work WHERE `status` != 5
    </select>

    <select id="selectByTotal" resultType="java.lang.Integer">
        SELECT COUNT(double_id) total FROM feature_double_work where `status` != 5
    </select>

    <select id="selectByLocation" resultType="java.lang.String">
        select location from feature_double_work
    </select>
</mapper>