<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.perform.PerformNpcOverviewMapper">

    <resultMap type="PerformNpcOverview" id="PerformNpcOverviewResult">
        <result property="overviewId"    column="overview_id"    />
        <result property="columnType"    column="column_type"    />
        <result property="headUserId"    column="head_user_id"    />
        <result property="deputyHeadUserId"    column="deputy_head_user_id"    />
        <result property="secretaryUserId"    column="secretary_user_id"    />
        <result property="standingUserId"    column="standing_user_id"    />
        <result property="agencyUrl"    column="agency_url"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
    </resultMap>

    <sql id="selectPerformNpcOverviewVo">
        select overview_id, column_type, head_user_id, deputy_head_user_id, secretary_user_id, standing_user_id, agency_url, title, content, remark, create_time, update_by, update_time, create_by from perform_npc_overview
    </sql>

    <select id="selectPerformNpcOverviewList" parameterType="PerformNpcOverview" resultMap="PerformNpcOverviewResult">
        <include refid="selectPerformNpcOverviewVo"/>
        <where>
            <if test="columnType != null "> and column_type = #{columnType}</if>
            <if test="headUserId != null "> and head_user_id = #{headUserId}</if>
            <if test="deputyHeadUserId != null  and deputyHeadUserId != ''"> and deputy_head_user_id = #{deputyHeadUserId}</if>
            <if test="secretaryUserId != null "> and secretary_user_id = #{secretaryUserId}</if>
            <if test="standingUserId != null  and standingUserId != ''"> and standing_user_id = #{standingUserId}</if>
            <if test="agencyUrl != null  and agencyUrl != ''"> and agency_url = #{agencyUrl}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>

    <select id="selectPerformNpcOverviewByOverviewId" parameterType="Long" resultMap="PerformNpcOverviewResult">
        <include refid="selectPerformNpcOverviewVo"/>
        where overview_id = #{overviewId}
    </select>

    <insert id="insertPerformNpcOverview" parameterType="PerformNpcOverview">
        insert into perform_npc_overview
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="overviewId != null">overview_id,</if>
            <if test="columnType != null">column_type,</if>
            <if test="headUserId != null">head_user_id,</if>
            <if test="deputyHeadUserId != null">deputy_head_user_id,</if>
            <if test="secretaryUserId != null">secretary_user_id,</if>
            <if test="standingUserId != null">standing_user_id,</if>
            <if test="agencyUrl != null">agency_url,</if>
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="overviewId != null">#{overviewId},</if>
            <if test="columnType != null">#{columnType},</if>
            <if test="headUserId != null">#{headUserId},</if>
            <if test="deputyHeadUserId != null">#{deputyHeadUserId},</if>
            <if test="secretaryUserId != null">#{secretaryUserId},</if>
            <if test="standingUserId != null">#{standingUserId},</if>
            <if test="agencyUrl != null">#{agencyUrl},</if>
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
        </trim>
    </insert>

    <update id="updatePerformNpcOverview" parameterType="PerformNpcOverview">
        update perform_npc_overview
        <trim prefix="SET" suffixOverrides=",">
            <if test="columnType != null">column_type = #{columnType},</if>
            <if test="headUserId != null">head_user_id = #{headUserId},</if>
            <if test="deputyHeadUserId != null">deputy_head_user_id = #{deputyHeadUserId},</if>
            <if test="secretaryUserId != null">secretary_user_id = #{secretaryUserId},</if>
            <if test="standingUserId != null">standing_user_id = #{standingUserId},</if>
            <if test="agencyUrl != null">agency_url = #{agencyUrl},</if>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
        </trim>
        where overview_id = #{overviewId}
    </update>

    <delete id="deletePerformNpcOverviewByOverviewId" parameterType="Long">
        delete from perform_npc_overview where overview_id = #{overviewId}
    </delete>

    <delete id="deletePerformNpcOverviewByOverviewIds" parameterType="String">
        delete from perform_npc_overview where overview_id in
        <foreach item="overviewId" collection="array" open="(" separator="," close=")">
            #{overviewId}
        </foreach>
    </delete>
</mapper>