<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.special.SpecialOpinionTraceMapper">
    
    <resultMap type="SpecialOpinionTrace" id="SpecialOpinionTraceResult">
        <result property="traceId"    column="trace_id"    />
        <result property="opinionId"    column="opinion_id"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="receiveUserId"    column="receive_user_id"    />
        <result property="content"    column="content"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSpecialOpinionTraceVo">
        select trace_id, opinion_id, send_user_id, receive_user_id, content, create_by, create_time, update_by, update_time, remark from special_opinion_trace
    </sql>

    <select id="selectSpecialOpinionTraceList" parameterType="SpecialOpinionTrace" resultMap="SpecialOpinionTraceResult">
        <include refid="selectSpecialOpinionTraceVo"/>
        <where>  
            <if test="opinionId != null "> and opinion_id = #{opinionId}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectSpecialOpinionTraceByTraceId" parameterType="Long" resultMap="SpecialOpinionTraceResult">
        <include refid="selectSpecialOpinionTraceVo"/>
        where trace_id = #{traceId}
    </select>
        
    <insert id="insertSpecialOpinionTrace" parameterType="SpecialOpinionTrace" useGeneratedKeys="true" keyProperty="traceId">
        insert into special_opinion_trace
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="opinionId != null">opinion_id,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="receiveUserId != null">receive_user_id,</if>
            <if test="content != null">content,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="opinionId != null">#{opinionId},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="receiveUserId != null">#{receiveUserId},</if>
            <if test="content != null">#{content},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSpecialOpinionTrace" parameterType="SpecialOpinionTrace">
        update special_opinion_trace
        <trim prefix="SET" suffixOverrides=",">
            <if test="opinionId != null">opinion_id = #{opinionId},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="receiveUserId != null">receive_user_id = #{receiveUserId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where trace_id = #{traceId}
    </update>

    <delete id="deleteSpecialOpinionTraceByTraceId" parameterType="Long">
        delete from special_opinion_trace where trace_id = #{traceId}
    </delete>

    <delete id="deleteSpecialOpinionTraceByTraceIds" parameterType="String">
        delete from special_opinion_trace where trace_id in 
        <foreach item="traceId" collection="array" open="(" separator="," close=")">
            #{traceId}
        </foreach>
    </delete>
</mapper>