<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.standard.StandardCensorRecordMapper">

    <resultMap type="StandardCensorRecord" id="StandardCensorRecordResult">
        <result property="recordId"    column="record_id"    />
        <result property="censorId"    column="censor_id"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="revert"    column="revert"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="receiveUserId"    column="receive_user_id"    />
    </resultMap>

    <sql id="selectStandardCensorRecordVo">
        select record_id, censor_id, type, status, revert, remark, create_by, create_time, update_by, send_user_id, receive_user_id from standard_censor_record
    </sql>

    <select id="selectStandardCensorRecordList" parameterType="StandardCensorRecord" resultMap="StandardCensorRecordResult">
        <include refid="selectStandardCensorRecordVo"/>
        <where>
            <if test="censorId != null "> and censor_id = #{censorId}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="revert != null  and revert != ''"> and revert = #{revert}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null "> and receive_user_id = #{receiveUserId}</if>
        </where>
    </select>

    <select id="selectStandardCensorRecordByRecordId" parameterType="Long" resultMap="StandardCensorRecordResult">
        <include refid="selectStandardCensorRecordVo"/>
        where record_id = #{recordId}
    </select>

    <insert id="insertStandardCensorRecord" parameterType="StandardCensorRecord">
        insert into standard_censor_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="recordId != null">record_id,</if>
            <if test="censorId != null">censor_id,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="revert != null">revert,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="receiveUserId != null">receive_user_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="recordId != null">#{recordId},</if>
            <if test="censorId != null">#{censorId},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="revert != null">#{revert},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="receiveUserId != null">#{receiveUserId},</if>
        </trim>
    </insert>

    <update id="updateStandardCensorRecord" parameterType="StandardCensorRecord">
        update standard_censor_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="censorId != null">censor_id = #{censorId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="revert != null">revert = #{revert},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="receiveUserId != null">receive_user_id = #{receiveUserId},</if>
        </trim>
        where record_id = #{recordId}
    </update>

    <delete id="deleteStandardCensorRecordByRecordId" parameterType="Long">
        delete from standard_censor_record where record_id = #{recordId}
    </delete>

    <delete id="deleteStandardCensorRecordByRecordIds" parameterType="String">
        delete from standard_censor_record where record_id in
        <foreach item="recordId" collection="array" open="(" separator="," close=")">
            #{recordId}
        </foreach>
    </delete>
    <!--=-==============================================自定义-->
    <!-- 流程详情-->
    <select id="selectByCensorId" resultMap="StandardCensorRecordResult" parameterType="Long">
        <include refid="selectStandardCensorRecordVo"/>
        where censor_id = #{censorId}
    </select>
</mapper>