<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.standard.StandardCensorMapper">

    <resultMap type="StandardCensor" id="StandardCensorResult">
        <result property="censorId"    column="censor_id"    />
        <result property="reportTitle"    column="report_title"    />
        <result property="reportType"    column="report_type"    />
        <result property="fileName"    column="file_name"    />
        <result property="fileNature"    column="file_nature"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="reportWen"    column="report_wen"    />
        <result property="reportOrgan"    column="report_organ"    />
        <result property="passOrgan"    column="pass_organ"    />
        <result property="recordOrgan"    column="record_organ"    />
        <result property="announcedTime"    column="announced_time"    />
        <result property="hairdressingTime"    column="hairdressing_time"    />
        <result property="administerTime"    column="administer_time"    />
        <result property="recordTime"    column="record_time"    />
        <result property="contactName"    column="contact_name"    />
        <result property="contactPhone"    column="contact_phone"    />
        <result property="fileList"    column="file_list"    />
        <result property="type"    column="type"    />
        <result property="status"    column="status"    />
        <result property="rate"    column="rate"    />
        <result property="sendUserId"    column="send_user_id"    />
        <result property="receiveUserId"    column="receive_user_id"    />
        <result property="processType"    column="process_type"    />
        <result property="censorTache"    column="censor_tache"    />
        <result property="procinsId"    column="procIns_id"    />
        <result property="deployId"    column="deploy_id"    />
        <result property="address"    column="address"    />
        <result property="recordReport"    column="record_report"    />
        <result property="formalText"    column="formal_text"    />
        <result property="formulateExplain"    column="formulate_explain"    />
        <result property="basis"    column="basis"    />
        <result property="other"    column="other"    />
        <result property="lapseTime"    column="lapse_time"    />
    </resultMap>

    <sql id="selectStandardCensorVo">
        select censor_id, report_title, report_type, file_name, file_nature, create_by, create_time, update_by, update_time, remark, report_wen, report_organ, pass_organ, record_organ, announced_time, hairdressing_time, administer_time, record_time, contact_name, contact_phone, file_list, type, status, rate, send_user_id, receive_user_id, process_type, censor_tache, procIns_id, deploy_id, address, record_report, formal_text, formulate_explain, basis, other, lapse_time from standard_censor
    </sql>

    <select id="selectStandardCensorList" parameterType="StandardCensor" resultMap="StandardCensorResult">
        <include refid="selectStandardCensorVo"/>
        <where>
            <if test="reportTitle != null  and reportTitle != ''"> and report_title = #{reportTitle}</if>
            <if test="reportType != null "> and report_type = #{reportType}</if>
            <if test="fileName != null  and fileName != ''"> and file_name like concat('%', #{fileName}, '%')</if>
            <if test="fileNature != null  and fileNature != ''"> and file_nature = #{fileNature}</if>
            <if test="reportWen != null  and reportWen != ''"> and report_wen = #{reportWen}</if>
            <if test="reportOrgan != null  and reportOrgan != ''"> and report_organ = #{reportOrgan}</if>
            <if test="passOrgan != null  and passOrgan != ''"> and pass_organ = #{passOrgan}</if>
            <if test="recordOrgan != null  and recordOrgan != ''"> and record_organ = #{recordOrgan}</if>
            <if test="announcedTime != null "> and announced_time = #{announcedTime}</if>
            <if test="hairdressingTime != null "> and hairdressing_time = #{hairdressingTime}</if>
            <if test="administerTime != null "> and administer_time = #{administerTime}</if>
            <if test="recordTime != null "> and record_time = #{recordTime}</if>
            <if test="contactName != null  and contactName != ''"> and contact_name like concat('%', #{contactName}, '%')</if>
            <if test="contactPhone != null  and contactPhone != ''"> and contact_phone = #{contactPhone}</if>
            <if test="fileList != null  and fileList != ''"> and file_list = #{fileList}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="rate != null "> and rate = #{rate}</if>
            <if test="sendUserId != null "> and send_user_id = #{sendUserId}</if>
            <if test="receiveUserId != null  and receiveUserId != ''"> and receive_user_id = #{receiveUserId}</if>
            <if test="processType != null "> and process_type = #{processType}</if>
            <if test="censorTache != null  and censorTache != ''"> and censor_tache = #{censorTache}</if>
            <if test="procinsId != null  and procinsId != ''"> and procIns_id = #{procinsId}</if>
            <if test="deployId != null  and deployId != ''"> and deploy_id = #{deployId}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="recordReport != null  and recordReport != ''"> and record_report = #{recordReport}</if>
            <if test="formalText != null  and formalText != ''"> and formal_text = #{formalText}</if>
            <if test="formulateExplain != null  and formulateExplain != ''"> and formulate_explain = #{formulateExplain}</if>
            <if test="basis != null  and basis != ''"> and basis = #{basis}</if>
            <if test="other != null  and other != ''"> and other = #{other}</if>
            <if test="lapseTime != null "> and lapse_time = #{lapseTime}</if>
        </where>
    </select>

    <select id="selectStandardCensorByCensorId" parameterType="Long" resultMap="StandardCensorResult">
        <include refid="selectStandardCensorVo"/>
        where censor_id = #{censorId}
    </select>

    <insert id="insertStandardCensor" parameterType="StandardCensor" useGeneratedKeys="true" keyProperty="censorId">
        insert into standard_censor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="reportTitle != null">report_title,</if>
            <if test="reportType != null">report_type,</if>
            <if test="fileName != null">file_name,</if>
            <if test="fileNature != null">file_nature,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="reportWen != null">report_wen,</if>
            <if test="reportOrgan != null">report_organ,</if>
            <if test="passOrgan != null">pass_organ,</if>
            <if test="recordOrgan != null">record_organ,</if>
            <if test="announcedTime != null">announced_time,</if>
            <if test="hairdressingTime != null">hairdressing_time,</if>
            <if test="administerTime != null">administer_time,</if>
            <if test="recordTime != null">record_time,</if>
            <if test="contactName != null">contact_name,</if>
            <if test="contactPhone != null">contact_phone,</if>
            <if test="fileList != null">file_list,</if>
            <if test="type != null">type,</if>
            <if test="status != null">status,</if>
            <if test="rate != null">rate,</if>
            <if test="sendUserId != null">send_user_id,</if>
            <if test="receiveUserId != null">receive_user_id,</if>
            <if test="processType != null">process_type,</if>
            <if test="censorTache != null">censor_tache,</if>
            <if test="procinsId != null">procIns_id,</if>
            <if test="deployId != null">deploy_id,</if>
            <if test="address != null">address,</if>
            <if test="recordReport != null">record_report,</if>
            <if test="formalText != null">formal_text,</if>
            <if test="formulateExplain != null">formulate_explain,</if>
            <if test="basis != null">basis,</if>
            <if test="other != null">other,</if>
            <if test="lapseTime != null">lapse_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="reportTitle != null">#{reportTitle},</if>
            <if test="reportType != null">#{reportType},</if>
            <if test="fileName != null">#{fileName},</if>
            <if test="fileNature != null">#{fileNature},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="reportWen != null">#{reportWen},</if>
            <if test="reportOrgan != null">#{reportOrgan},</if>
            <if test="passOrgan != null">#{passOrgan},</if>
            <if test="recordOrgan != null">#{recordOrgan},</if>
            <if test="announcedTime != null">#{announcedTime},</if>
            <if test="hairdressingTime != null">#{hairdressingTime},</if>
            <if test="administerTime != null">#{administerTime},</if>
            <if test="recordTime != null">#{recordTime},</if>
            <if test="contactName != null">#{contactName},</if>
            <if test="contactPhone != null">#{contactPhone},</if>
            <if test="fileList != null">#{fileList},</if>
            <if test="type != null">#{type},</if>
            <if test="status != null">#{status},</if>
            <if test="rate != null">#{rate},</if>
            <if test="sendUserId != null">#{sendUserId},</if>
            <if test="receiveUserId != null">#{receiveUserId},</if>
            <if test="processType != null">#{processType},</if>
            <if test="censorTache != null">#{censorTache},</if>
            <if test="procinsId != null">#{procinsId},</if>
            <if test="deployId != null">#{deployId},</if>
            <if test="address != null">#{address},</if>
            <if test="recordReport != null">#{recordReport},</if>
            <if test="formalText != null">#{formalText},</if>
            <if test="formulateExplain != null">#{formulateExplain},</if>
            <if test="basis != null">#{basis},</if>
            <if test="other != null">#{other},</if>
            <if test="lapseTime != null">#{lapseTime},</if>
        </trim>
    </insert>

    <update id="updateStandardCensor" parameterType="StandardCensor">
        update standard_censor
        <trim prefix="SET" suffixOverrides=",">
            <if test="reportTitle != null">report_title = #{reportTitle},</if>
            <if test="reportType != null">report_type = #{reportType},</if>
            <if test="fileName != null">file_name = #{fileName},</if>
            <if test="fileNature != null">file_nature = #{fileNature},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="reportWen != null">report_wen = #{reportWen},</if>
            <if test="reportOrgan != null">report_organ = #{reportOrgan},</if>
            <if test="passOrgan != null">pass_organ = #{passOrgan},</if>
            <if test="recordOrgan != null">record_organ = #{recordOrgan},</if>
            <if test="announcedTime != null">announced_time = #{announcedTime},</if>
            <if test="hairdressingTime != null">hairdressing_time = #{hairdressingTime},</if>
            <if test="administerTime != null">administer_time = #{administerTime},</if>
            <if test="recordTime != null">record_time = #{recordTime},</if>
            <if test="contactName != null">contact_name = #{contactName},</if>
            <if test="contactPhone != null">contact_phone = #{contactPhone},</if>
            <if test="fileList != null">file_list = #{fileList},</if>
            <if test="type != null">type = #{type},</if>
            <if test="status != null">status = #{status},</if>
            <if test="rate != null">rate = #{rate},</if>
            <if test="sendUserId != null">send_user_id = #{sendUserId},</if>
            <if test="receiveUserId != null">receive_user_id = #{receiveUserId},</if>
            <if test="processType != null">process_type = #{processType},</if>
            <if test="censorTache != null">censor_tache = #{censorTache},</if>
            <if test="procinsId != null">procIns_id = #{procinsId},</if>
            <if test="deployId != null">deploy_id = #{deployId},</if>
            <if test="address != null">address = #{address},</if>
            <if test="recordReport != null">record_report = #{recordReport},</if>
            <if test="formalText != null">formal_text = #{formalText},</if>
            <if test="formulateExplain != null">formulate_explain = #{formulateExplain},</if>
            <if test="basis != null">basis = #{basis},</if>
            <if test="other != null">other = #{other},</if>
            <if test="lapseTime != null">lapse_time = #{lapseTime},</if>
        </trim>
        where censor_id = #{censorId}
    </update>

    <delete id="deleteStandardCensorByCensorId" parameterType="Long">
        delete from standard_censor where censor_id = #{censorId}
    </delete>

    <delete id="deleteStandardCensorByCensorIds" parameterType="String">
        delete from standard_censor where censor_id in
        <foreach item="censorId" collection="array" open="(" separator="," close=")">
            #{censorId}
        </foreach>
    </delete>
    <!--====================分割线=================================-->
    <select id="selectByProcessId" resultMap="StandardCensorResult">
        <include refid="selectStandardCensorVo"/>
        where procins_id = #{procinsId}
    </select>
    <!--新详情-->
    <resultMap id="detail" type="com.shahenpc.system.domain.standard.dto.CemsorDetailDto" extends="StandardCensorResult">
        <association property="record" column="censor_id" select="com.shahenpc.system.mapper.standard.StandardCensorRecordMapper.selectByCensorId"></association>
    </resultMap>
    <select id="selectByCensorId" parameterType="Long" resultMap="detail">
        <include refid="selectStandardCensorVo"/>
        where censor_id = #{censorId}
    </select>

    <!--待办列表-->
    <select id="selectByTodoList" parameterType="StandardCensor" resultMap="StandardCensorResult">
        SELECT
            c.censor_id, c.report_title, c.report_type, c.file_name, c.file_nature, c.create_by, c.create_time,
               c.update_by, c.update_time, c.remark, c.report_wen, c.report_organ, c.pass_organ,
               c.record_organ, c.announced_time, c.hairdressing_time, c.administer_time, c.record_time,
               c.contact_name, c.contact_phone, c.file_list, c.type, r.status, c.rate,
               c.send_user_id, c.receive_user_id, c.process_type, c.censor_tache,c.procIns_id, c.deploy_id,
               c.address, c.record_report, c.formal_text, c.formulate_explain, c.basis, c.other, c.lapse_time
        FROM standard_censor_record r RIGHT JOIN standard_censor c ON c.censor_id = r.censor_id
        WHERE  c.type = #{type}
            <if test="receiveUserId != null ">
                AND r.receive_user_id = #{receiveUserId}
            </if>
        and r.status=0
        GROUP BY c.censor_id ORDER BY r.create_time DESC
    </select>

    <!--已办理-->
    <select id="selectByDoneList" parameterType="Long" resultMap="StandardCensorResult">
        SELECT  c.censor_id, c.report_title, c.report_type, c.file_name, c.file_nature, c.create_by, c.create_time,
                c.update_by, c.update_time, c.remark, c.report_wen, c.report_organ, c.pass_organ,
                c.record_organ, c.announced_time, c.hairdressing_time, c.administer_time, c.record_time,
                c.contact_name, c.contact_phone, c.file_list, c.type, c.status, c.rate,
                c.send_user_id, c.receive_user_id, c.process_type, c.censor_tache,c.procIns_id, c.deploy_id,
                c.address, c.record_report, c.formal_text, c.formulate_explain, c.basis, c.other, c.lapse_time
        FROM standard_censor_record r RIGHT JOIN standard_censor c ON c.censor_id = r.censor_id
        WHERE r.send_user_id= #{sendUserId} AND r.type != 0 ORDER BY r.create_time DESC
    </select>

    <!--待处理  已处理    总数-->
    <select id="selectByTotalAndStay" resultType="com.shahenpc.system.domain.standard.dto.TotalAndStatyDto">
        SELECT COUNT(c.censor_id)AS total,
               COUNT(CASE WHEN c.type IN(1,2,3,4) THEN 1 ELSE NULL END) AS stayTotal
        FROM  standard_censor c
    </select>


    <!--反馈列表-->
    <select id="selectByTypeList" parameterType="java.lang.Integer" resultMap="StandardCensorResult">
        SELECT
        c.censor_id, c.report_title, c.report_type, c.file_name, c.file_nature, c.create_by, c.create_time,
        c.update_by, c.update_time, c.remark, c.report_wen, c.report_organ, c.pass_organ,
        c.record_organ, c.announced_time, c.hairdressing_time, c.administer_time, c.record_time,
        c.contact_name, c.contact_phone, c.file_list, c.type, r.status, c.rate,
        c.send_user_id, c.receive_user_id, c.process_type, c.censor_tache,c.procIns_id, c.deploy_id,
        c.address, c.record_report, c.formal_text, c.formulate_explain, c.basis, c.other, c.lapse_time
        FROM standard_censor_record r RIGHT JOIN standard_censor c ON c.censor_id = r.censor_id
        <if test="type != null">
            WHERE c.type = #{type}
            <if test="type != 4">
                and c.status=0
            </if>
        </if>
        GROUP BY c.censor_id ORDER BY r.create_time DESC
    </select>
</mapper>