<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.exam.PersonnelAppointGradeMapper">

    <resultMap type="PersonnelAppointGrade" id="PersonnelAppointGradeResult">
        <result property="gradeId" column="grade_id"/>
        <result property="userId" column="user_id"/>
        <result property="examId" column="exam_id"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="score" column="score"/>
        <result property="regExamId" column="reg_exam_id"/>
        <result property="registerId" column="register_id"/>
    </resultMap>

    <sql id="selectPersonnelAppointGradeVo">
        select grade_id,
               user_id,
               exam_id,
               remark,
               score,
               create_by,
               create_time,
               update_by,
               update_time,
               del_flag,
               reg_exam_id,
               register_id
        from personnel_appoint_grade
    </sql>

    <select id="selectPersonnelAppointGradeList" parameterType="PersonnelAppointGrade"
            resultMap="PersonnelAppointGradeResult">
        <include refid="selectPersonnelAppointGradeVo"/>
        <where>
            <if test="userId != null ">and user_id = #{userId}</if>
            <if test="examId != null ">and exam_id = #{examId}</if>
        </where>
    </select>

    <select id="selectPersonnelAppointGradeByGradeId" parameterType="Long" resultMap="PersonnelAppointGradeResult">
        <include refid="selectPersonnelAppointGradeVo"/>
        where grade_id = #{gradeId}
    </select>

    <select id="selectGradeByRegId" parameterType="Long" resultMap="PersonnelAppointGradeResult">
        <include refid="selectPersonnelAppointGradeVo"/>
        where register_id = #{registerId}
        limt 1
    </select>

    <insert id="insertPersonnelAppointGrade" parameterType="PersonnelAppointGrade" useGeneratedKeys="true"
            keyProperty="gradeId">
        insert into personnel_appoint_grade
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="examId != null">exam_id,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="score != null">score,</if>
            <if test="regExamId != null">reg_exam_id,</if>
            <if test="registerId != null">register_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="examId != null">#{examId},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="score != null">#{score},</if>
            <if test="regExamId != null">#{regExamId},</if>
            <if test="registerId != null">#{registerId},</if>
        </trim>
    </insert>

    <update id="updatePersonnelAppointGrade" parameterType="PersonnelAppointGrade">
        update personnel_appoint_grade
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="examId != null">exam_id = #{examId},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="score != null">score = #{score},</if>
            <if test="regExamId != null">reg_exam_id = #{regExamId},</if>
            <if test="registerId != null">register_id = #{registerId},</if>
        </trim>
        where grade_id = #{gradeId}
    </update>

    <delete id="deletePersonnelAppointGradeByGradeId" parameterType="Long">
        delete
        from personnel_appoint_grade
        where grade_id = #{gradeId}
    </delete>

    <delete id="deletePersonnelAppointGradeByGradeIds" parameterType="String">
        delete from personnel_appoint_grade where grade_id in
        <foreach item="gradeId" collection="array" open="(" separator="," close=")">
            #{gradeId}
        </foreach>
    </delete>
</mapper>