<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shahenpc.system.mapper.exam.PersonnelAppointPaperQuestionItemMapper">
    
    <resultMap type="PersonnelAppointPaperQuestionItem" id="PersonnelAppointPaperQuestionItemResult">
        <result property="quItemId"    column="qu_item_id"    />
        <result property="bigQuestionId"    column="big_question_id"    />
        <result property="quId"    column="qu_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectPersonnelAppointPaperQuestionItemVo">
        select qu_item_id, big_question_id, qu_id, create_by, create_time, update_by, update_time from personnel_appoint_paper_question_item
    </sql>

    <select id="selectPersonnelAppointPaperQuestionItemList" parameterType="PersonnelAppointPaperQuestionItem" resultMap="PersonnelAppointPaperQuestionItemResult">
        <include refid="selectPersonnelAppointPaperQuestionItemVo"/>
        <where>  
            <if test="bigQuestionId != null "> and big_question_id = #{bigQuestionId}</if>
            <if test="quId != null "> and qu_id = #{quId}</if>
        </where>
    </select>
    
    <select id="selectPersonnelAppointPaperQuestionItemByQuItemId" parameterType="Long" resultMap="PersonnelAppointPaperQuestionItemResult">
        <include refid="selectPersonnelAppointPaperQuestionItemVo"/>
        where qu_item_id = #{quItemId}
    </select>
        
    <insert id="insertPersonnelAppointPaperQuestionItem" parameterType="PersonnelAppointPaperQuestionItem" useGeneratedKeys="true" keyProperty="quItemId">
        insert into personnel_appoint_paper_question_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bigQuestionId != null">big_question_id,</if>
            <if test="quId != null">qu_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bigQuestionId != null">#{bigQuestionId},</if>
            <if test="quId != null">#{quId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updatePersonnelAppointPaperQuestionItem" parameterType="PersonnelAppointPaperQuestionItem">
        update personnel_appoint_paper_question_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="bigQuestionId != null">big_question_id = #{bigQuestionId},</if>
            <if test="quId != null">qu_id = #{quId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where qu_item_id = #{quItemId}
    </update>

    <delete id="deletePersonnelAppointPaperQuestionItemByQuItemId" parameterType="Long">
        delete from personnel_appoint_paper_question_item where qu_item_id = #{quItemId}
    </delete>

    <delete id="deletePersonnelAppointPaperQuestionItemByQuItemIds" parameterType="String">
        delete from personnel_appoint_paper_question_item where qu_item_id in 
        <foreach item="quItemId" collection="array" open="(" separator="," close=")">
            #{quItemId}
        </foreach>
    </delete>
</mapper>